/* make the Top working
inbeded google map
meta description and details
remember alt 
*/
/* General Styling */
body {
    width: 100%;
}
section {
    margin-top: 2em;
}
h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}
.top {
    color: rgb(223, 179, 112);
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1em;
}
img {
    max-width: 100vw;
}

/* Header */
header {
    background-color: black;
    color: white;
    height: 10vh;
    padding: 0.5em;
}
header p {
    float: left;
}

/* Navigation Section */
nav {
    float: right;
    margin: 0;
    text-align: right;
    width: 30%;
}


nav span {
    margin-right: 4em;
    float: right;
}
header p, nav {
    position: relative;
    top: 33%;
}

.hamburger {
    position: relative;
    display: inline-block;
    padding-right: 0.5em;
  }
  
  .hamburger-content {
    display: none;
    position: absolute;
    z-index:1;
    color: pink;
  }
  
  .hamburger:hover .hamburger-content {
    display: block;
    padding-right: 1em;
    max-width: 100vw;
    padding-top: 1em;
  }
  
  span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: block;
    transform: rotate(90deg);
  }
  
  .hamburger:hover span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }

  .hamburger-content a, .hamburger-content a:visited, .hamburger-content a::after {
    color: white;
}

  /* Splash Section */

  .splash {
      background-image: url("../images/potted-plant-1402729MobileScreen.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 90vh;
      text-align: center;
      margin-top: 0;
  }
  .splashContent {
      position: relative;
      top: 25%;
  }
  .splashContent h1, .splashContent p, .splashContent button {
      margin-bottom: 2em;
      color: white;
  }
  .splashContent h1, .splashContent p {
    font-size: 1.3em;
    font-weight: bold;
  
}
  .splashContent button {
      padding: 1em;
      background-color: rgb(34, 33, 33);
  }
  .splashContent button a::after, .splashContent button a:visited {
      color: white;
  }

  /* Location Section */

    .location img {
      max-width: 100vw;
    }

/*  Gallery Section */

.gallery-grid, .gallery-largeImg-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
}
.gallery-grid img {
    margin: 1em auto;
    
}
@media all and (min-width: 800px) {
    .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5em;
    }
    .gallery-grid img {
        margin: 0;
        padding: 1em;
        max-width: 80%;
    }
}

/* Plant Section */

/* Using one size img for mobile and another for desktop */
.desktopImg {
    display: none;
}
.plantSection {
    background-color: rgb(200, 228, 200);
    margin-top: 0;
}
.plantSection h3 {
    padding-top: 1em;
}
.plant-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
}
.plants {
    margin: 1em auto;
    text-align: center;
}
.plants p:first-child {
    font-weight: bold;
    margin: 1em auto;
}
.plants p:last-child {
    padding: 0 1em;
    text-align: left;
}
@media all and (min-width: 500px) {
    .mobileImg {
        display: none;
    }
    .desktopImg {
        display: block;
        margin: 0 auto;
        width: ;
    }
    .plant-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
}

/* Team Images */
.teamImages-grid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: 0 auto;
}

@media all and (min-width: 500px) {
    .teamImages-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.5em;
    }
    .teamImages-grid img {
        width: 80%;
        margin: 0 auto;
    }
}
/* Footer  */

footer {
    padding: 2em;
    background-color: black;
    color: white;
    text-align: center;
}


